# Node.js 모듈 폴더
node_modules/

# 빌드 출력물
build/
dist/

# 환경설정 파일
.env
.env.local
.env.*.local

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ESLint, Prettier 등의 설정 파일
.eslintcache

# 프로젝트에 포함되지 않는 IDE 관련 설정
.vscode/
.idea/

# 기타 무시할 파일
coverage/
public/